// Styles for all of the user pages:
// Login, Signup, Support

page-verify_number {
  .no-border {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
  ion-row {
    align-items: center;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    ion-col.col {
      margin: 0 auto;
      max-width: 40%;
    }
  }
  
  ion-item {
    // border-radius: 30px !important;
    padding-left: 10px !important;
    margin-bottom: 0px !important;
    background-color: #f6f6f6;
    opacity: 0.7;
    font-size: 0.9em;

  }
  .list-md .item-block .item-inner{
    border-bottom: none !important;
  }
  ion-list {
    margin: 0;
  }
  .login-button {
    width: 100%;
    color:#fff;
  }
  h1{
    font-size: 3.30rem;
    font-weight: bold;
    color: #fff;
  }
  span.danger {
    color: #941313;
}
.logo {
  width: 45%;
  height: auto;
  max-width: 12em;
  margin: 0 auto;
  
}

.fancy {
  line-height: 1.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #e8e4e4;
  top: 10px;
  width: 150px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

}