<!-- style="background: linear-gradient(to bottom right, #ff9235, #ffa43f);" -->
<ion-header>
  <ion-navbar>
    <ion-title style="padding: 0 30px 1px !important;">Login</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only *ngIf="loading">
        <ion-spinner name="crescent"></ion-spinner>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div style="padding-top: 10%;">
    <form [formGroup]="ionform">
      <ion-card style="background: transparent;">
        <ion-card-content no-padding>

          <ion-row>
            <ion-col>
              <img class="logo" src="assets/img/tracohealth.png" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list inset class="no-border">
                <!-- <ion-item style="background: transparent !important;">
                  <span class="danger" style="color: red !important" *ngIf="!ionform.controls.phoneno.valid && (ionform.controls.phoneno.dirty || submitted)">* (length 10)</span>
                </ion-item> -->
                <ion-item style="margin-bottom: 10px;border: 1px solid #aaa;">
                  <ion-label>
                    <ion-icon name="call" style="color: #2c59ff;"></ion-icon>
                  </ion-label>
                  <ion-input formControlName="phoneno" pattern="[1-9]{1}[0-9]{9}" maxlength="10" type="tel" placeholder="Enter Mobile Number"
                    [class.invalid]="!ionform.controls.phoneno.valid && (ionform.controls.phoneno.dirty || submitted)"></ion-input>
                </ion-item>

                <ion-item style="margin-bottom: 10px;border: 1px solid #aaa;">
                  <ion-label>
                    <ion-icon name="lock" style="color: #2c59ff;"></ion-icon>
                  </ion-label>
                  <ion-input formControlName="password" type="password" placeholder="Enter Password" [class.invalid]="!ionform.controls.password.valid && (ionform.controls.password.dirty || submitted)"></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row padding-left padding-right>
            <ion-col>
              <button ion-button round type="submit" (click)="onLogin()" color="button_all" block style="color: #fff">Login</button>
            </ion-col>
          </ion-row>
        

        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>