<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="product">{{product.productTitle}}</ion-title>
    <ion-buttons end style="padding-right: 8px;">
      <span style="color: #fff;font-size: 1.5rem !important;"> Gurugram</span>
      <ion-icon name="arrow-dropdown" style="color: #fff;"></ion-icon>
    </ion-buttons>
    <ion-buttons end style="margin: 10px">
      <button ion-button (click)="openCart()">
        <ion-icon name="cart" style="color:#fff"></ion-icon>
        <ion-badge id="cart-badge" *ngIf="cartCount > 0">{{cartCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background: #fff !important;" padding-top>


  <ion-card *ngIf="product" style="width: 100%;margin: 0px;box-shadow: none !important">
    <ion-card-content style="padding:0px;">
      <ion-slides>
        <ion-slide loop="false">
          <img *ngIf="product.image" [src]="'data:image/png;base64,'+ product.image" class="img-slide" />
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
  <ion-grid style="padding:0px 20px 0px 20px;" *ngIf="product">
    <ion-row>
      <ion-col col-8>
        <span style="margin-bottom: 2px;">
          <h4 style="font-size: 1.3em;
          color: #585858;">{{product.productTitle}} </h4>
        </span>
        <!-- <span class="businessAreaName">({{businessDetail.area_name}})</span>-->
      </ion-col>
      <ion-col col-4>
        <ion-icon name="pricetag" style="margin-top: 1.6rem;color:#005d98"></ion-icon><span style="margin-top: 1.6rem;color:#005d98">&nbsp;<b>Rs
            {{product.price}}</b></span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="padding: 15px 0px 15px 6px; color:grey">
        {{product.productDescription}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-card *ngIf="product" class="swing" no-margin style="width: 100%;margin-bottom: 10px;box-shadow: none !important;">
    <ion-card-content>
      <ion-item margin-bottom>
        <ion-avatar item-start>
          
          <img *ngIf="product.image" [src]="'data:image/png;base64,'+ product.image" />
        </ion-avatar>
        <ion-label no-margin padding-bottom padding-top padding-left>
          {{product.productTitle}}
        </ion-label>
      </ion-item>

      <h2 style="color: #005d98;">Description</h2>
      <p>{{product.productDescription}}</p>
    </ion-card-content>
  </ion-card> -->
  <!-- <ion-fab right bottom >

  </ion-fab> -->
</ion-content>
<ion-toolbar position="bottom" style="position: fixed;bottom: 0; padding: 0px;" no-margin>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <button ion-button full style="padding: 0;height: 56px;margin: 0;" (click)="addToCart(product)">
          Add to cart
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>