page-cart
{
    .compact .item-inner .input-wrapper ion-label {
        margin: 0 !important;
    }
    .toolbar-background-md{
        background: #fff !important;
    }
    .toolbar-title-md{
        color: #000 !important;
    }
   
}