<ion-header>
	<ion-navbar>
		<ion-title>{{pageTitle}}</ion-title>
		<!--<ion-buttons end>
			<button ion-button icon-only (click)="save()">
        SAVE&nbsp;<ion-icon name="send"></ion-icon>
      </button>
		</ion-buttons>-->
	</ion-navbar>
</ion-header>

<ion-content padding style="background-color: #fff !important;">
	<p *ngIf="submitAttempt && !ionform.valid" style="color: #ea6153;" padding-left padding-right>Please fill out all details accurately.</p>

	<ion-list inset no-padding no-margin style="margin-top: 0px;">
		<form [formGroup]="ionform">


			<ion-item style="background: transparent !important;" no-padding>
				<ion-label no-margin>Current Password
					<span class="danger" *ngIf="!ionform.controls.old_password.valid && (ionform.controls.old_password.dirty || submitted)">* required</span>
				</ion-label>
			</ion-item>
			<ion-item style="border: 1px solid #aaa;">
				
				<ion-input placeholder="Enter Old Password" formControlName="old_password" type="password" [class.invalid]="!ionform.controls.old_password.valid && (ionform.controls.old_password.dirty || submitted)"></ion-input>
			</ion-item>

			<!-- <ion-item>
				<ion-label stacked>Current Password
					<span class="danger" *ngIf="!ionform.controls.old_password.valid && (ionform.controls.old_password.dirty || submitAttempt)">* required</span>
				</ion-label>
				<ion-input formControlName="old_password" type="password" [class.invalid]="!ionform.controls.old_password.valid && (ionform.controls.old_password.dirty || submitAttempt)">
				</ion-input>
			</ion-item> -->

			<ion-item style="background: transparent !important;" no-padding>
				<ion-label no-margin>New Password
					<span class="danger" *ngIf="!ionform.controls.set_password.valid && (ionform.controls.set_password.dirty || submitted)">* required</span>
				</ion-label>
			</ion-item>
			<ion-item style="border: 1px solid #aaa;">
				
				<ion-input placeholder="Enter New Password" formControlName="set_password" type="password" [class.invalid]="!ionform.controls.set_password.valid && (ionform.controls.set_password.dirty || submitted)"></ion-input>
			</ion-item>


			<ion-item style="background: transparent !important;" no-padding>
				<ion-label no-margin>Retype Password
					<span class="danger" *ngIf="!ionform.controls.confirm_password.valid && (ionform.controls.confirm_password.dirty || submitted)">* required</span>
				</ion-label>
			</ion-item>
			<ion-item style="border: 1px solid #aaa;margin-bottom: 10px">
				
				<ion-input placeholder="Enter Confirm Password" formControlName="confirm_password" type="password" [class.invalid]="!ionform.controls.confirm_password.valid && (ionform.controls.confirm_password.dirty || submitted)"></ion-input>
			</ion-item>


			<!-- <ion-item>
				<ion-label stacked>New Password
					<span class="danger" *ngIf="!ionform.controls.set_password.valid && (ionform.controls.set_password.dirty || submitAttempt)">* required</span>
				</ion-label>
				<ion-input formControlName="set_password" type="password" [class.invalid]="!ionform.controls.set_password.valid && (ionform.controls.set_password.dirty || submitAttempt)">
				</ion-input>
			</ion-item> -->
			<!-- <ion-item>
				<ion-label stacked>Retype Password
					<span class="danger" *ngIf="!ionform.controls.confirm_password.valid && (ionform.controls.confirm_password.dirty || submitAttempt)">* required</span>
				</ion-label>
				<ion-input formControlName="confirm_password" type="password" [class.invalid]="!ionform.controls.confirm_password.valid && (ionform.controls.confirm_password.dirty || submitAttempt)">
				</ion-input>
			</ion-item> -->

			<button ion-button color="button_all" (click)="validpassword()" block item-right>
				SAVE
			</button>

		</form>
	</ion-list>
</ion-content>