<ion-header>

  <ion-navbar>
    <ion-title>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: #efefef">
  <ion-card class="card-style" no-padding>
    <ion-card-header>
      <h2 style="font-size: 2.0rem;color: #005d98;">Delivery Address</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-label *ngIf="selectedAddress">
        <span>{{selectedAddress.firstname}} {{selectedAddress.lastname}}
          <br>
        </span>
        <span *ngIf="selectedAddress.company">({{selectedAddress.company}})
          <br>
        </span>
        <span>{{selectedAddress.address_1}}, {{selectedAddress.address_2}}
          <br>
        </span>
        <span>{{selectedAddress.city}}, {{selectedAddress.zone}} - {{selectedAddress.postcode}}
          <br>
        </span>
        <span>{{selectedAddress.country}}</span>
      </ion-label>
      <ion-label *ngIf="!selectedAddress">
        No Address Selected.
      </ion-label>
    </ion-card-content>
  </ion-card>

  <h2 style="font-size: 1.5rem;color: #005d98;padding-left: 12px" *ngIf="cartItems">Product Details</h2>
  <ion-card class="card-style" no-padding *ngFor="let product of cartItems">
    <!-- <ion-card-header>
     
    </ion-card-header> -->
    <ion-row padding>
      <ion-col col col-4 no-padding>
        <!-- <img src="assets/img/11.jpg" class="scroll-item" /> -->
        <img *ngIf="product.product.image" [src]="'data:image/png;base64,'+ product.product.image" />
      </ion-col>

      <ion-col no-padding col col-8>
        <ion-row>
          <ion-col col col-12>
            <p class="ellipsis1" style="line-height: 1;">{{product.product.title}}</p>
          </ion-col>
        </ion-row>
        <span style="padding-left: 5px;font-weight: 600;line-height: 1.6;">Quantity: {{product.qty}}</span>
        <ion-row>
          <ion-col col col-6>
            <span>Product Price</span>
            <br>
            <span style="font-weight: 600;">Amount to Pay</span>
          </ion-col>
          <ion-col col col-6 style="text-align:right;">
            <span>{{product.product.price}}</span>
            <br>
            <span style="font-weight: 600;">{{product.amount}}</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="card-style" no-padding>
    <ion-card-header>
      <h2 style="font-size: 2.0rem;color: #005d98;">Price Summary</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class='total-summary' style="font-size: 1.7rem;">
        <ion-row style="border-bottom: 1px solid #eee;font-family: 'Patua One' !important;">

          <ion-col col col-6 class="ellipsis">
            Total Amount
          </ion-col>
          <ion-col col col-6 style="text-align:right;">
            {{total}}
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div class="footer-space"></div>

</ion-content>

<ion-toolbar position="bottom" style="position: fixed;bottom: 0; padding: 0px;" no-margin>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <button ion-button secondary full style="padding: 0;height: 56px;margin: 0;" (click)="onPayment()">

          <ion-icon name="cash"></ion-icon>&nbsp;Continue To Payment
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>