<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>tracohealth</ion-title>
    <ion-buttons end style="padding-right: 8px;">
      <span style="color: #fff;font-size: 1.5rem !important;"> Gurugram</span>
      <ion-icon name="arrow-dropdown" style="color: #fff;"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background: #ffffff !important;">

  <ion-card class="swing" no-margin style="width: 100%;margin-bottom: 10px;box-shadow: none;">

    <ion-card-content no-padding>

      <ion-item *ngFor="let cat of categries_list">
        <p style="font-weight: bold;color: #005d98;">{{cat.title}}</p>
        <h3 class="grid-heading">
          <span (click)="open_all(cat)" style="color: #005d98;"> see all &rarr;</span>
        </h3>

        <ion-grid no-padding no-margin style="display: block;white-space: nowrap;font-size: 0;overflow: auto;">
          <ion-row nowrap no-padding no-margin>
            <ion-col col col-4 no-padding style="margin-top: 10px;text-align: center;margin-left: 10px;margin-right: 10px;background: #ffffff;
            border: 2px solid #efefef;padding: 16px;border-radius: 10px;"
              (click)="onCategory(product)" *ngFor="let product of cat.products">

              <img *ngIf="product.image" [src]="'data:image/png;base64,'+ product.image" />
              <p style="white-space: normal;color: #005d98 !important;" >{{product.productTitle}}</p>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-item>
      <!-- <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
              <img src="assets/img/12.jpg" class="scroll-item" style="height: 80px !important;" />
              <br />c1p2
            </ion-col>
            <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
              <img src="assets/img/13.jpg" class="scroll-item" style="height: 80px !important;" />
              <br />c1p3
            </ion-col>
            <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
              <img src="assets/img/14.jpg" class="scroll-item" style="height: 80px !important;" />
              <br />c1p4
            </ion-col> -->

      <!-- <ion-scroll scrollX="true" direction="x" style="height: 150px" no-padding class="h-container">
          <ion-grid no-padding no-margin>
            <ion-row nowrap no-padding no-margin>
              <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
                <img src="assets/img/11.jpg" class="scroll-item" style="height: 80px !important;" />
                <br/>c1p1
              </ion-col>
              <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
                <img src="assets/img/12.jpg" class="scroll-item" style="height: 80px !important;" />
                <br/>c1p2
              </ion-col>
              <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
                <img src="assets/img/13.jpg" class="scroll-item" style="height: 80px !important;" />
                <br/>c1p3
              </ion-col>
              <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
                <img src="assets/img/14.jpg" class="scroll-item" style="height: 80px !important;" />
                <br/>c1p4
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-scroll> -->

      <!-- <ion-item>
        <p>Category 2</p>
        <h3 class="grid-heading">
            <span (click)="open_all()" style="color: #005d98;"> see all &rarr;</span>
        </h3>
        <ion-scroll scrollX="true" direction="x" style="height: 150px" no-padding class="h-container">
          <ion-grid no-padding no-margin>
            <ion-row nowrap no-padding no-margin>
              <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
                <img src="assets/img/15.jpg" class="scroll-item" style="height: 80px !important;" />
                <br/>c2p1
              </ion-col>
              <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
                <img src="assets/img/12.jpg" class="scroll-item" style="height: 80px !important;" />
                <br/>c2p2
              </ion-col>
              <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
                <img src="assets/img/16.jpg" class="scroll-item" style="height: 80px !important;" />
                <br/>c2p3
              </ion-col>
              <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
                <img src="assets/img/17.jpg" class="scroll-item" style="height: 80px !important;" />
                <br/>c2p4
              </ion-col>
              <ion-col col col-3 no-padding style="margin-top: 10px;text-align: center;" (click)="onCategory()">
                <img src="assets/img/11.jpg" class="scroll-item" style="height: 80px !important;" />
                <br/>c2p4
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-scroll>
      </ion-item>
      <ion-item>
        <p>Category 3</p>
      </ion-item>
      <ion-item>
        <p>Category 4</p>
      </ion-item>
      <ion-item>
        <p>Category 5</p>
      </ion-item>
      <ion-item>
        <p>Category 6</p>
      </ion-item>
      <ion-item>
        <p>Category 7</p>
      </ion-item>
      <ion-item>
        <p>Category 8</p>
      </ion-item> -->


    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col no-padding>
        <button ion-button item-end block full style="height: 56px;box-shadow: none!important;" no-padding no-margin
          class="btn">
          <ion-icon name="home"></ion-icon>
        </button>
      </ion-col>
      <ion-col col no-padding>
        <button ion-button item-end block full style="height: 56px;box-shadow: none!important;" no-padding no-margin
          class="btn">
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
      </ion-col>
      <ion-col col no-padding>
        <button ion-button item-end block full style="height: 56px;box-shadow: none!important;" no-padding no-margin
          class="btn">
          <ion-icon name="bowtie"></ion-icon>

        </button>
      </ion-col>
      <ion-col col no-padding>
        <button ion-button item-end block full style="height: 56px;box-shadow: none!important;" no-padding no-margin
          class="btn">

        </button>
      </ion-col>
      <ion-col col no-padding>
        <button ion-button item-end block full style="height: 56px;box-shadow: none!important;" no-padding no-margin
          class="btn">

        </button>
      </ion-col>
      <ion-col col no-padding>
        <button ion-button item-end block full style="height: 56px;box-shadow: none!important;" no-padding no-margin
          class="btn">
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>